@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --cor-principal: #b062b5;
    --cor-secundaria: #c641be;
    --cor-destaque: #af0c70;
}
body {
    font-family: "Righteous Static", sans-serif;
    color: var(--cor-principal);
}
h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}
footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque);
  font-weight: 700;
}

.lead,
.btn-link {
  color: var(--cor-destaque);
  font-weight: 700;
}

a,
.btn-link:hover {
  color: var(--cor-principal);
}

a:hover {
  color: var(--cor-destaque);
}

